<a href="https://colab.research.google.com/github/capbang93/python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.2 입력 / 출력

1.2.1. 변수

변수란 프로그래밍 언어에서 값을 저장하기 위한 공간이다. 변수의 값은 언제든지 변할 수 있는 수이다. 변수는 숫자 뿐만 아니라 문자, 리스트 등 다양한 자료형을 저장할 수 있다.

**[코드]**

In [ ]:
email = "test@abc.com"  # 문자열
point = 23
point = point + 10

In [ ]:
a=3
b="python"
print(a,type(a),id(a))
print(b,type(b),id(b))

1.2.2. 입력

표준 입력 input() 함수를 사용한다.

**[코드]**

In [ ]:
score = input()
print(score)

In [ ]:
score = input("점수: ")
print(score+10)

In [ ]:
score1 = int(input("점수: "))
print(score1 + 10)
score2 = input("점수: ")
print(int(score2) + 10)

1.2.3. 출력

출력은 print() 함수를 이용한다.

**[코드]**

In [ ]:
print(1+2)
print("1+2")
print('Hello')
print("Hello")
print("I can't swim")
print('"파이썬" 언어')

In [ ]:
name="홍길동"
age = 17
score = 91.35
print("이름:%s, 나이:%d, 점수:%f" %(name,age,score))

In [ ]:
print("이름:{}, 나이:{}, 점수:{}".format(name,age,score))

1.3. 연산자

연산자란 연산을 수행하는 기호를 말한다.

1.3.1. 연산자의 종류

산술연산자 : 더하기(+), 빼기(-), 곱하기(*), 나누기(/), 나누기 나머지(%), 나누기 몫(//), 제곱(**)

**[코드]**

In [ ]:
2+3

In [ ]:
2+3*4-5

In [ ]:
4/2

In [ ]:
7%3

In [ ]:
7//3

In [ ]:
2**3

할당 연산자 : '=' 연산 기호는 오른쪽 값을 왼쪽 변수에 할당하는 연산자이다.

**[코드]**

In [ ]:
a = 5
a = a + 1
a

In [ ]:
a+=2
a

In [ ]:
a-=4
a

비교 연산자 : 관계 연산, 조건 연산이라고도 하며, 연산의 결과는 참(True) 또는 거짓(False)으로 나타난다.

**[코드]**

In [ ]:
a = 10
b = 20
a > b

In [ ]:
a < b

In [ ]:
a == b

In [ ]:
a != b

논리 연산자 : 두 개 이상의 조건에서 사용된다. and, or, not 연산이 있다.

**[코드]**

In [ ]:
a = 5
b = 3
a > 2 and b > 2

In [ ]:
a > 3 or b > 5

In [ ]:
not a > b

비트 연산자 : &, |, ^ 연산이 있다.

**[코드]**

In [ ]:
a = 13  # 1101
b = 10  # 1010
a & b   # 1000

In [ ]:
a | b # 1111

In [ ]:
a ^ b # 0111

# 2. 제어문

2.1. 조건문

2.1.1. 단일 if

파이썬에서 사용하는 조건문 if는 들여쓰기를 사용한다.

**코드**

In [ ]:
score = int(input())
if score >= 80:
  print("pass")

In [ ]:
score = int(input())
if score >=80:
  print("pass")
if score <80:
  print("fail")

2.1.2. if ~ else

조건식이 참과 거짓에 따라 조건문을 작성할 때에는 if ~ else 를 사용할 수 있다.

**코드**

In [ ]:
score = int(input())
if score >=80:
  print("pass")
else:
  print("fail")

2.1.3. if ~ elif ~ else

조건식이 여러 개인 경우 중첩 if 대신 if ~ elif ~ else 를 사용한다.

**코드**

In [ ]:
score = int(input())
if score >= 90:
  print("A")
elif score >=80:
  print("B")
elif score >=70:
  print("C")
elif score >=60:
  print("D")
else:
  print("F")

2.2. 반복문

반복문은 while, for 문이 있다.
 - while 은 조건이 참인 동안 실행한다.
 - for 는 지정한 범위 내에서 반복 실행한다.

**코드**

In [ ]:
n = 1
while n<=5:
  print(n)
  n=n+1

In [ ]:
for a in range(1,6):
  print(a,end=' ')

In [ ]:
for a in [1,2,3,4,5]:
  print(a, end=' ')

In [ ]:
for a in range(1,11):
  if a%2==1:         # 1부터 10 에서 홀수만 출력
    print(a, end= ' ')

In [ ]:
# 중첩 반복문
a = 2
b = 1
while a<=9:
  while b<=9:
    print(f"{a}*{b}={a*b}")
    b+=1
  a+=1
  b=1

In [ ]:
for a in range(2,10):
  for b in range(1,10):
    print(f"{a}*{b}={a*b}")

**응용문제**

곱하기 연산 문제를 제시하는 퀴즈 프로그램을 제작하시오. 난수(임의의 수)를 사용하여 곱하기 문제를 출제하며, 난수 사용법은 다음과 같다.

In [ ]:
import random
a = random.random()
b = random.randint(10,20)
print(a,b)

0.15947303368863708 19

**응용문제 코드**

In [ ]:
import random
good, wrong = 0,0
for n in range(1,11):
  a = random.randint(1,9)
  b = random.randint(1,9)
  quiz = f"문제{n}. {a}*{b}="
  answer = int(input(quiz))
  if answer == a*b:
    print("정답입니다.")
    good+=1
  else:
    print("오답입니다.")
    wrong+=1
  print(f"정답({good}), 오답({wrong})\n")

# 3. 자료형

3.1 리스트(List)

여러 개의 값을 저장하는 변수형이다. 배열이라고도 한다.

**코드**

In [ ]:
a = [90,92,84,88,74]
b = list((90,92,84,88,74))
c = ["파이썬",900,30.5,"자바",850,78.75]
d = list(("파이썬",900,30.5,"자바",850,78.75))
e = list("프로그래밍")
print(a,b,c,d,e,sep='\n')

[90, 92, 84, 88, 74]
[90, 92, 84, 88, 74]
['파이썬', 900, 30.5, '자바', 850, 78.75]
['파이썬', 900, 30.5, '자바', 850, 78.75]
['프', '로', '그', '래', '밍']

3.1.1. 리스트 항목 다루기(인덱스, 슬라이싱)

리스트에 값을 사용하기 위해서는 인덱스를 이용한다.

슬라이싱을 통해 특정 인덱스 위치의 값을 추출할 수 있다.

**코드**

In [ ]:
a = [90,91,92,93,94,95,96]
print(a[0])

In [ ]:
print("a[0:3]", a[0:3], sep='->')
print("a[3:5]",a[3:5],sep='->')
print("a[0:]",a[0:],sep='->')
print("a[3:]",a[3:],sep='->')
print("a[:]",a[:],sep='->')
print("a[1:5:2]",a[1:5:2],sep='->')
print("a[::2]",a[::2],sep='->')
print("a[1::2]",a[1::2],sep='->')
print("a[-4:-2]",a[-4:-2],sep='->')
print("a[-4:]",a[-4:],sep='->')
print("a[5:100]",a[5:100],sep='->')
print("a[100]",a[100],sep='->')

In [ ]:
ct = '프로그래밍'
print(ct[1],ct[-1])

3.1.2. 리스트 항목 수정

인덱스를 표시하고 내용을 입력하여 수정한다.

**코드**

In [ ]:
prog = ["C","PYTHON","JAVA","GO"]
prog[0]="C++"
print(prog)

In [ ]:
# 리스트 복사1
prog = ["C","PYTHON","JAVA","GO"]
myprog = prog    # 얕은 복사
print("prog:",prog)
print("myprog:",myprog)
prog[0]="C++"
print("prog:",prog)
print("myprog:",myprog)

In [ ]:
# 리스트 복사2
prog = ["C","PYTHON","JAVA","GO"]
myprog = prog[:]  # 깊은 복사
print("prog:",prog)
print("myprog:",myprog)
prog[0]="C++"
print("prog:",prog)
print("myprog:",myprog)

3.1.3. 리스트 연산

리스트 자료형도 몇 개의 연산을 지원한다. 함수를 사용하지 않은 연산을 살펴본다.

**코드**

In [ ]:
prog = ["C","PYTHON", "JAVA", "GO"]
webp = ["PHP","JSP","ASP.NET"]
myprog = prog+webp
prog[0] = "D"
print("prog:",prog)
print("myprog:",myprog)

In [ ]:
prog = ["C","PYTHON", "JAVA", "GO"]
myprog = prog+"HTML"
print(myprog)

In [ ]:
prog = ["C","PYTHON", "JAVA", "GO"]
myprog = prog+["HTML"]
print(myprog)

In [ ]:
# 리스트 항목 값 반복 곱 연산
prog = ["C","PYTHON", "JAVA"]
data=[1,2,3]
print(prog*2)
print(data*3)

3.1.4. 리스트 메서드(Method)

1) 위치 : index
- 리스트에서 특정 값의 위치를 반환한다.

**코드**

In [ ]:
prog = ["WEB","OA","Multi","OA"]
print(prog.index("OA"))

In [ ]:
prog = ["WEB","OA","Multi","OA"]
print(prog.index("python"))

In [ ]:
prog = ["WEB","OA","Multi","OA"]
print(prog.index("oa"))

2) 추가 : append, extend, insert

 - append() : 리스트 마지막에 값 추가 (모든 자료형 추가 가능)
 - extend() : 리스트 마지막에 값 추가 (두 리스트를 하나로 합침)
 - insert(위치, 값) : 리스트의 위치 번째에 값을 삽입
 
**코드**

In [ ]:
# append()
a = [1,2,3,4]
b = ["WEB","OA","Multi"]
a.append(5)
print(a)
a.append("python")
print(a)
a.append([6,7])
print(a)
a.append(b)
print(a)

In [ ]:
#extend()
a=[1,2,3,4]
b=["WEB","OA","Multi"]
a.extend(b)
print(a)

In [ ]:
#extend()
a=[1,2,3,4]
b=["WEB","OA","Multi"]
c=("a","b","c")  # tuple
a.extend(5)
print(a)
a.extend(b)
print(a)
a.extend(c)
print(a)

In [ ]:
#insert()
a=[1,2,3,4]
a.insert(2,5)
print(a)

[1, 2, 5, 3, 4]

In [ ]:
# 리스트 a 에서 "OA" 다음에 "Excel" 추가해보자
a=["WEB","OA","Multi","RUBY"]
a.insert(a.index("OA")+1,"Excel")
print(a)

4) 삭제 : del, pop, remove
 - del 리스트[인덱스] : 리스트내 해당하는 인덱스 값을 삭제한다. (del은 명령어)
 - pop() : 리스트내 마지막 값을 삭제한다.
 - pop(인덱스) : 리스트에 해당하는 인덱스 값을 삭제한다.
 - remove(값) : 리스트 내 항목 값으로 삭제할 경우

**코드**

In [ ]:
a = ["WEB","OA","Multi","RUBY"]
print(a)
del a[1]
print(a)

In [ ]:
a = ["WEB","OA","Multi","RUBY"]
print(a)
del a      # a 를 삭제
print(a)

In [ ]:
# pop()
a=["WEB","OA","Multi","RUBY"]
a.pop()
print(a)
b=a.pop(1)
print(b,a)

In [ ]:
#remove()
a=["WEB","OA","Multi","RUBY","OA"]
a.remove("OA")
print(a)

['WEB', 'Multi', 'RUBY', 'OA']

5) 개수 : count

리스트내 특정 값의 개수를 반환한다.

**코드**

In [ ]:
a = ["WEB","OA","Multi","OA"]
print(a.count("OA"))

In [ ]:
a = ["WEB","OA","Multi","RUBY"]
if a.count("python"):
  a.remove("python")
  print(a)
else:
  print("삭제할 것이 없습니다.")

삭제할 것이 없습니다.

In [ ]:
# in
a = ["WEB","OA","Multi","RUBY"]
if "python" in a:
  a.remove("python")
  print(a)
else:
  print("삭제할 것이 없습니다.")

6) 정렬 : sort, reverse

 - sort() : 오름차순으로 정렬
 - reverse() : 역순으로 정렬

**코드**

In [ ]:
#오름차순 정렬
a=[7,9,5,1,4,8,3,2,6]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#내림차순 정렬
a=[7,9,5,1,4,8,3,2,6]
a.sort()
a.reverse()
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#내림차순 정렬
a=[7,9,5,1,4,8,3,2,6]
a.sort(reverse=True)
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

7) 사본 정렬 : sorted

리스트 원본을 보존하고 정렬한다.

**코드**

In [ ]:
# 사본을 이용한 오름차순 정렬
a=[7,9,5,1,4,8,3,2,6]
b=sorted(a)
print(a)
print(b)

In [ ]:
# 사본을 이용한 내림차순 정렬
a=[7,9,5,1,4,8,3,2,6]
b=sorted(a,reverse=True)
print(a)
print(b)

8) 길이 : len

리스트 요소의 개수를 구한다.

**코드**

In [ ]:
prog=["C","PYTHON","JAVA","GO"]
print(len(prog))

3.1.5. 리스트 반복문

len()을 사용하여 리스트 내에 항목 개수를 구하고 해당 숫자만큼 반복한다.

**코드**

In [ ]:
data = ["cpu","ram","vga","ssd","dvd"]
for a in range(len(data)):
  print(data[a])

In [ ]:
data = ["cpu","ram","vga","ssd","dvd"]
for a in data:
  print(a)

In [ ]:
data = ["cpu","ram","vga","ssd","dvd"]
print("\n".join(data))  # 문자 리스트를 문자열로 합침. 이 때 문자들 사이에 "\n" 삽입한다.

In [ ]:
data=[1,2,3,4,5]
l = list(map(str,data))  # 리스트 내 값을 str() 함수를 이용하여 문자열로 변환 후 list 로 변환
print("\n".join(l))

In [ ]:
data=[1,2,3,4,5]
a1, a2, a3, a4, a5 = map(str,data)  # 리스트 내 값을 str() 함수를 이용하여 문자열로 변환
print(a1,a2,a3,a4,a5, type(a1))

In [ ]:
import random
data=[]
for a in range(10):
  data.append(random.randint(10,99))
print(data)

In [ ]:
import random
data1=[random.randint(10,99) for a in range(10)]
data2=list(random.randint(10,99) for a in range(10))
print(data1)
print(data2)

[35, 76, 76, 60, 32, 28, 75, 71, 89, 33]
[79, 36, 50, 46, 30, 51, 83, 89, 56, 51]

In [ ]:
data=[1,2,3,4,5]
data2=[a*a for a in data]
print(data2)

[1, 4, 9, 16, 25]

3.1.6. 이차원 리스트

리스트 안에 리스트나 튜플이 여러 개 있을 때 사용한다.

**코드**

In [ ]:
a=[[1,2,3],["a","b"],(10,20,30)]
print(a[0],a[0][1])
print(a[1][1])
print(a[2][1])

[1, 2, 3] 2
b
20

In [ ]:
data=[[10101,"김창준","robert@abc.com",34],
[10305,"심재호","jhsim@abc.com",23],
[10515,"김은희","ehkim@xyz.com",15],
[10823,"박지현","jhpark@xyz.com",25]]
print(data)

In [ ]:
#이름, 이메일 출력 : ranage 이용
for a in range(len(data)):
  print(data[a][1],data[a][2])

In [ ]:
# 이름,이메일 출력 : 리스트 요소 이용
for a in data:
  print(a[1],a[2])

3.2. 튜플(Tuple)

3.2.1. 튜플

리스트와 유사하나 튜플은 소괄호(())를 사용하며 항목 수정이 불가능하다.

**코드**

In [ ]:
a=(5,3,1,4,2)
b=tuple((5,3,1,4,2))
c=("python",500,3,14)
d=([1,3,2],(10,30,20),"java","C++")
print(type(a),type(b),type(c),type(d))
print(a)
print(b)
print(c)
print(d)

<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>
(5, 3, 1, 4, 2)
(5, 3, 1, 4, 2)
('python', 500, 3, 14)
([1, 3, 2], (10, 30, 20), 'java', 'C++')

In [ ]:
# 항목이 하나인 경우 다음은 튜플이 아닌 리스트, 일반 자료형을 갖는다.
a=([5])
b=(5)
c=("python")
print(type(a),type(b),type(c))

<class 'list'> <class 'int'> <class 'str'>

In [ ]:
# 항목이 하나인 경우 튜플로 선언하는 방법
a=([5],)
b=(5,)
c=("python",)
print(type(a),type(b),type(c))

<class 'tuple'> <class 'tuple'> <class 'tuple'>

In [ ]:
# 리스트, 튜플 변환
data1 = [1,2,3,4,5]
data2 = (1,2,3,4,5)
v1 = tuple(data1)
v2 = list(data2)
print(v1,v2)

(1, 2, 3, 4, 5) [1, 2, 3, 4, 5]

In [ ]:
# 튜플은 항목 수정 관련 함수는 사용할 수 없으며 나머지는 리스트와 유사하다.
# 대입, remove, pop, del, append, extend, sort 사용할 수 없다.
# count, index, len 등은 사용 가능 
a=("python","C++","JAVA","GO")
b=(4,2,5,1,3)
print(a[1:2])
print(a[1:3])
print(b[-3:-1])
print(a.index("JAVA"))
print(a.count("C++"))
print(len(a))
c=sorted(b)
print(b)
print(c)

('C++',)
('C++', 'JAVA')
(5, 1)
2
1
4
(4, 2, 5, 1, 3)
[1, 2, 3, 4, 5]

3.3. 딕셔너리(Dictionary)

3.3.1. 딕셔너리 선언 및 구조

딕셔너리는 키(Key):값(Value)이 중괄호({}) 사이에 위치한 구조이다.
- {key1:value1, key2:value2, key3:value3,....}
- key값은 중복되지 않고 변하지 않는 값을 사용한다.

**코드**

In [ ]:
d1={}
d2={"name":"홍길동","email":"test1@abc.com","phone":"010-1234-5678"}
d3=dict(name="홍길동",email="test2@abc.com",phone="010-2222-2222")
print(d2)
print(d3)
print(type(d1), type(d2),type(d3))

{'name': '홍길동', 'email': 'test1@abc.com', 'phone': '010-1234-5678'}
{'name': '홍길동', 'email': 'test2@abc.com', 'phone': '010-2222-2222'}
<class 'dict'> <class 'dict'> <class 'dict'>

3.3.2. 딕셔너리 추가/수정/삭제

- 추가와 수정은 해당 키 값에 따라 키가 없으면 추가하고 있으면 수정한다.
- 삭제는 del, clear 를 사용한다.

**코드**

In [ ]:
#딕셔너리 추가
fruits={"a":"apple", "b":"banana"}
fruits["c"]="carrot"
print(fruits)

In [ ]:
#딕셔너리 변경
fruits={"a":"apple", "b":"banana"}
fruits["b"]="bluberry"
print(fruits)

In [ ]:
#딕셔너리 삭제
fruits={"a":"apple", "b":"banana"}
fruits["b"]="bluberry"
print(fruits)

{'a': 'apple'}

In [ ]:
#딕셔너리 전체 삭제
fruits={"a":"apple", "b":"banana"}
fruits.clear()
print(fruits)

{}

3.3.3. 딕셔너리 검색

- 딕셔너리는 index를 사용하지 않고 key 값을 검색할 때 in 을 사용한다.
- value 값으로 검색하는 경우 values(), items()를 사용한다.

**코드**

In [ ]:
fruits={"a":"apple", "b":"banana","c":["coconut","cherry"]}
print("b" in fruits, "banana" in fruits)

True False

In [ ]:
fruits={"a":"apple", "b":"banana","c":"cherry"}
print(fruits.keys(), type(fruits.keys()))
print(fruits.values(), type(fruits.values()))
print(fruits.items(), type(fruits.items()))

dict_keys(['a', 'b', 'c']) <class 'dict_keys'>
dict_values(['apple', 'banana', 'cherry']) <class 'dict_values'>
dict_items([('a', 'apple'), ('b', 'banana'), ('c', 'cherry')]) <class 'dict_items'>

In [ ]:
# 딕셔너리에서 "banana" 검색
fruits={"a":"apple", "b":"banana","c":"cherry"}
print("banana" in fruits.values())
for k,v in fruits.items():
  if v == "banana":
    print(k,v)

True
b banana

3.3.4. 딕셔너리 합치기

두 개의 딕셔너리를 합칠 때는 update() 를 사용한다. 중복된 값이 있으면, 가장 마지막에 있는 값이 변경된다.

**코드**

In [ ]:
f1= {'a':'apple','b':'banana'}
f2= {'b':'blueberry','c':'coconut'}
f1.update(f2)
print(f1)

{'a': 'apple', 'b': 'blueberry', 'c': 'coconut'}

3.3.5. 딕셔너리 정렬
- 키를 기준으로 정렬 : sorted(data.keys()[, reverse=True])
- 값을 기준으로 정렬 : sorted(data.values()[, reverse=True])

**코드**

In [ ]:
# key 로 정렬
data={"d":8,"c":5,"a":9,"b":2}
d3 = sorted(data.keys(),reverse=True)
print(type(d3))
for k in d3:
  print(k,data[k])

<class 'list'>
d 8
c 5
b 2
a 9

In [ ]:
# value 로 정렬
data={"d":8,"c":5,"a":9,"b":2}
d2 = sorted(data.values())
d3 = sorted(data.values(),reverse=True)
print(type(data))
for k in data.keys():
  print(k,data[k])
print(type(d2),type(d3))
print(d2,d3)

<class 'dict'>
d 8
c 5
a 9
b 2
<class 'list'> <class 'list'>
[2, 5, 8, 9] [9, 8, 5, 2]

In [ ]:
# items() 로 정렬
data={"d":8,"c":5,"a":9,"b":2}
d1 = sorted(data.items())
d2 = sorted(data.items(),reverse=True)
print(d1,d2,sep='\n')

[('a', 9), ('b', 2), ('c', 5), ('d', 8)]
[('d', 8), ('c', 5), ('b', 2), ('a', 9)]

# 함수

4.1. 함수

어떤 일을 수행하는 코드를 미리 정의해 놓은 것을 함수라고 한다.

- 문자열 함수 : len,count,index,find,replace,upper,lower,title,lstrip,rstrip,split
- 숫자 함수 : abs, pow, max, min, round, bin, oct, hex
- math 라이브러리 : pi,e,trunc,factorial,degrees,radians,sin,cos,log10,log2,pow
- randmon 라이브러리 : random,randint, randrange

4.1.1. 문자열 함수

**코드**

In [ ]:
engt="python programming"
kot="파이썬 프로그래밍"
pro=["OA","Prog","Multi","Prog"]
print("len:",len(engt),len(kot),len(pro))
print("count:",engt.count("p"),pro.count("Prog"))
print("index:", engt.index("h"), pro.index("OA"))
print("find:", engt.find("y"),engt.find("z"))

len: 18 9 4
count: 2 2
index: 3 0
find: 1 -1

In [ ]:
prog="java c++ PythOn html5"
print(prog.upper())
print(prog.lower())
print(prog.title())
print(prog.replace("c++","GO"))
print(prog)

JAVA C++ PYTHON HTML5
java c++ python html5
Java C++ Python Html5
java GO PythOn html5
java c++ PythOn html5

In [ ]:
# 문자연결
text="123abc가나다"
prog=["java","c++","python","html5"]
print("-".join(text))
print(", ".join(prog))

1-2-3-a-b-c-가-나-다
java, c++, python, html5

In [ ]:
#문자분리
t1='java py html'
t2='java/py/html'
print(t1.split())  # 공백 분리
print(t2.split('/')) # '/' 기준 분리

['java', 'py', 'html']
['java', 'py', 'html']

In [ ]:
# 공백제거
t="   korea   123   "
print(len(t),t)
print(len(t.lstrip()),t.lstrip())
print(len(t.rstrip()),t.rstrip())
print(len(t.strip()),t.strip())

17    korea   123
14 korea   123
14    korea   123
11 korea   123

4.1.2. 숫자 함수

파이썬에 내장된 수학 관련 함수
- abs : 절대값
- pow : 제곱
- max : 최댓값
- min : 최소값
- round : 반올림
- round(a,b) : 소수 b 자리에서 반올림

In [ ]:
print(abs(-3))
print(pow(3,4))
print(max(5,2,8,3,4))
print(min(5,2,8,3,4,))
print(round(3.147))
print(round(3.547))
print(round(3.147,2))

In [ ]:
# 진법
x=35
b,o,h = bin(x),oct(x),hex(x)
print(b,o,h)
print(type(b),type(o),type(h))

0b100011 0o43 0x23
<class 'str'> <class 'str'> <class 'str'>

In [ ]:
# 스트링을 진수로 변환, 진수 기호 생략 가능
print(int('0b11',2),int('11',2))
print(int('0o11',8),int('11',8))
print(int('0x11',16),int('11',16))

3 3
9 9
17 17

In [ ]:
#math 라이브러리
import math
math.pi
print(math.pi)
print(math.e)
print(math.trunc(1.78))
print(math.factorial(5))
print(math.degrees(math.pi))
print(math.radians(180))
print(math.sin(math.pi/2))
print(math.cos(math.pi/2))
print(math.log10(100))
print(math.log2(8))
print(math.pow(2,4))

3.141592653589793
2.718281828459045
1
120
180.0
3.141592653589793
1.0
6.123233995736766e-17
2.0
3.0
16.0

In [ ]:
# random
import random as r
print(r.random())
print(r.randint(10,20))
print(r.randrange(10,20))

0.0349996454307725
15
16

4.1.3. 날짜 함수

1970년 1월 1일 0시 0분 이후 경과한 시간을 초단위로 반환한다. 시간대는 표준시를 사용한다.

**코드**

In [ ]:
import time
print(time.time())
print(time.localtime(time.time()))

1660721042.1285033
time.struct_time(tm_year=2022, tm_mon=8, tm_mday=17, tm_hour=7, tm_min=24, tm_sec=2, tm_wday=2, tm_yday=229, tm_isdst=0)

In [ ]:
import time
t=time.localtime(time.time())
print(f'{t.tm_year}-{t.tm_mon}-{t.tm_mday}')
print(time.strftime('%Y-%m-%d %H %M %S',t))

2022-8-17
2022-08-17 07 27 48

In [ ]:
#datetime
import datetime as dt
now = dt.datetime.today()
print(dt.datetime.today())
print(dt.datetime.now())
print(now.year, now.month, now.day)
print(now.hour, now.minute, now.second)
print(now.strftime('%Y-%m-%d'))
print(now.strftime('%H-%M-%S'))

2022-08-17 07:29:44.917921
2022-08-17 07:29:44.921711
2022 8 17
7 29 44
2022-08-17
07-29-44

4.2. 사용자 정의 함수

def function(parameter):
> #작성 코드



- function은 사용자가 지정한다.
- parameter는 인수이며, 여러 개인 경우 쉼표(,)로 구분한다.

In [ ]:
def calc(a,b):
  return a+b
print(calc(3,2))

5

In [ ]:
def data_sum(*n):
  s=0
  for i in n:
    s+=i
  return s
print(data_sum(1,2,3,4,5,6,7,8,9,10))

55

4.3. 재귀함수

함수에서 자기 자신을 호출(recursive call)하는 방식

재귀함수로 factorial 구하기

**코드**

In [ ]:
#factorial
def factorial(n):
  if n == 1:
    return 1
  return n*factorial(n-1)
print(factorial(5))

120

Quiz 3. 하노이 타워

3개의 장대가 있고 첫 번째 장대에는 크기가 서로 다른 3개의 원판이 있다.
A장대에 있는 원반을 다음 규칙에 따라 C로 이동시키려 한다.
- 한 번에 한 개의 원판만 다른 장대로 이동시킬 수 있다.
- 위에 올려 놓은 원판은 아래 원판보다 작아야 한다.

원판의 개수를 입력하면 원판의 이동 회수를 첫 줄에 출력하고, 다음 줄부터는 이동 과정을 출력하는 프로그램을 작성하시오.

**코드**

In [ ]:
def hanoi(n,a,b,c):
  if n==1:
    print(f'{n}번 원반 : {a} -> {c}')
    return
  hanoi(n-1,a,c,b)
  print(f'{n}번 원반: {a}->{c}')
  hanoi(n-1,b,a,c)

n = int(input())
hanoi(n,'A','B','C')

3
1번 원반 : A -> C
2번 원반: A->B
1번 원반 : C -> B
3번 원반: A->C
1번 원반 : B -> A
2번 원반: B->C
1번 원반 : A -> C

3 

hanoi(3,'A','B','C')
    hanoi(2,'A','C','B')
       hanoi(1,'A','B','C')
           1번 원반 : A -> C
       2번 원반 : A -> B
       hanoi(1,'C','A','B')
           1번 원반: C->B
    3번 원반 : A-> C
    hanoi(2,'B','A','C')
       hanoi(1,'B','C','A')
          1번 원반 : B -> A
       2번 원반 : B -> C
       hanoi(1,'A','B','C')
          1번 원반 : A -> C